.cardFilm{
    width: 80%;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0;
    background-color: antiquewhite;
}

.poster {
    width: 150px;
    padding: 2%;
  }

  @media (max-width: 818px) {
      .cardFilm {
          flex-direction: column;
          width: 200px;
      }
  }