.input, .button {
    font-size: 18px;
    border-radius: 7px;
    color: #4a4e69;
}

.input {
    padding: 10px 15px;
    outline: none;
    border: none;
}

.button {
    background-color: #c8b6ff;
    outline: none;
    cursor: pointer;
    padding: 7px 12px;
}
.button:disabled {
    cursor: not-allowed;
}
